script src="https://www.googletagmanager.com/gtag/js?id=G-HK827DCY74" async="async"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HK827DCY74');
